html, body {
  background-color: #95D9DA;
  color: #0C0F0A;
  background-image: url("../img/bg-water.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; }

section h1.display-4 {
  padding: 2% 0;
  color: #0C0F0A;
  border-radius: 25px;
  text-align: center;
  max-width: 80vw;
  margin: 0 auto; }

section .content-grp {
  padding: 2%; }

.side-navbar {
  width: 280px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: #2978A0;
  transition: 0.5s;
  background-image: url("../img/navbar-water.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; }
  .side-navbar ul.dropdown-menu.show {
    background-color: #2978A0; }
    .side-navbar ul.dropdown-menu.show .dropdown-item {
      color: #0C0F0A; }
      .side-navbar ul.dropdown-menu.show .dropdown-item:active, .side-navbar ul.dropdown-menu.show .dropdown-item:focus, .side-navbar ul.dropdown-menu.show .dropdown-item:hover {
        background-color: #ECDD7B;
        color: #0C0F0A; }

.nav-head:active, .nav-head:focus, .nav-head:hover {
  background-color: #ECDD7B;
  color: #0C0F0A; }

.nav-link {
  color: #0C0F0A; }
  .nav-link:active, .nav-link:focus, .nav-link:hover {
    background-color: #ECDD7B;
    color: #0C0F0A; }

.active-nav {
  margin-left: 0; }

.profile-pic img {
  width: 35vw;
  margin: 0 auto;
  padding: 5% 3%;
  max-width: 200px; }

.my-container {
  transition: 0.4s; }

.active-cont {
  margin-left: 280px; }

#menu-btn {
  background-color: #2978A0;
  color: #0C0F0A; }

#exp .card {
  background: linear-gradient(180deg, #95D9DA 0%, #657ED4 100%);
  margin: 4% 0px;
  border-radius: 25px 0px;
  backdrop-filter: blur(4px);
  color: #0C0F0A;
  border: 1px solid #657ED4; }
  #exp .card .text-muted {
    color: #494949 !important; }
#exp .img-fluid {
  max-width: 150px;
  width: 40%; }
#exp .content-grp {
  padding: 0% 6%; }
#exp .col-md-4 {
  text-align: center; }

#edu .card {
  border: 1px solid #657ED4;
  background: linear-gradient(180deg, #95D9DA 0%, #657ED4 100%);
  color: #0C0F0A;
  border-radius: 25px; }
#edu .card-body {
  color: #0C0F0A; }
  #edu .card-body .text-muted {
    color: #494949 !important; }

#accomp .accomp-grp .card {
  background: linear-gradient(180deg, #95D9DA 0%, #657ED4 100%);
  color: #0C0F0A;
  padding: 0vw 1vw;
  margin: 0vw 1vw;
  border: 1px solid #657ED4; }
  #accomp .accomp-grp .card .card-img-top {
    width: 90%;
    margin: 0 auto;
    max-width: 200px; }
  #accomp .accomp-grp .card .btn {
    background-color: #0C0F0A;
    color: #494949; }
    #accomp .accomp-grp .card .btn:active, #accomp .accomp-grp .card .btn:focus, #accomp .accomp-grp .card .btn:hover {
      background-color: #494949;
      color: #0C0F0A; }
  #accomp .accomp-grp .card .card-footer {
    padding: 0.5rem 0rem;
    background-color: rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.125); }
    #accomp .accomp-grp .card .card-footer .text-muted {
      color: #494949 !important; }

#prof #courses h1 {
  color: #0C0F0A; }
#prof #courses a.list-group-item.list-group-item-action {
  background: linear-gradient(180deg, #95D9DA 0%, #657ED4 100%);
  color: #0C0F0A;
  border: 1px solid #494949; }
#prof #skills h1 {
  color: #0C0F0A; }
#prof #skills li.list-group-item {
  background: linear-gradient(180deg, #95D9DA 0%, #657ED4 100%);
  color: #0C0F0A;
  border: 1px solid #494949; }
#prof #skills .skill-grp {
  padding: 0 5%; }
#prof #skills .fw-bold {
  padding-bottom: 5%; }
#prof #skills .progress-bar {
  background-color: #F6AE2D; }
#prof #skills .badge.rounded-pill {
  background-color: #494949;
  color: #0C0F0A; }

/*# sourceMappingURL=index.css.map */
