$default-m-bg: url('../img/theme/space/main-bg.svg')
$default-sb-bg: url('../img/theme/space/nb-bg.svg')

//Space theme
.theme-space
    // text color
    --text-p: #AFDAFF
    
    // button color
    --but-bg: #E01A4F
    --but-text: #FFFFFF
    
    //background color
    --bg-m-a: #011638
    --bg-m-b: #0B193C
    --bg-m-c: #161D40
    --bg-m-d: #202043
    --bg-m-e: #2A2347

    // sb color
    --hl-sb: #C7AADF
    --hl-text-sb: #000500
    --bg-sd-dd: #2A2347

    // Gradient colors
    --card-a: #D499B9
    --card-b: #ADBDFF
    --card-text: #091624

// graveyard theme
.theme-graveyard
    // text color
    --text-p: #D3C4D1
    --text-s: #33312E

    // sidebar color
    --bg-sb: #252323
    --hl-sb: #3A015C

    // main color
    --bg-m: #0E131F
    --fg-m: #13837E
    --hl-m: #E65F5C

// Forest theme
.theme-forest
    // text color
    --text-p: #0B0500
    --text-s: #D8F1A0

    // sidebar color
    --bg-sb: #00A878
    --hl-sb: #D8F1A0

    // main color
    --bg-m: #F3C178
    --fg-m: #FE5E41
    --hl-m: #7DCD85

