// text color
$text-p: #0C0F0A
$text-s: #494949

// sidebar color
$bg-sb: #2978A0
$hl-sb: #ECDD7B

// main color
$bg-m: #95D9DA
$fg-m: #657ED4
$hl-m: #F6AE2D


// background image
$main-bg-img: url('../img/bg-water.svg')
$sidebar-bg-img: url('../img/navbar-water.svg')
