$default-m-bg: url('../img/theme/graveyard/main-bg.svg')
$default-sb-bg: url('../img/theme/graveyard/nb-bg.svg')

// graveyard theme
.theme-graveyard
    // text color
    --text-p: #D3C4D1
    --text-s: #33312E

    // sidebar color
    --bg-sb: #252323
    --hl-sb: #3A015C

    // main color
    --bg-m: #0E131F
    --fg-m: #13837E
    --hl-m: #E65F5C

// Ocean theme
.theme-ocean
    // text color
    --text-p: #0C0F0A
    --text-s: #494949

    // sidebar color
    --bg-sb: #2978A0
    --hl-sb: #ECDD7B

    // main color
    --bg-m: #95D9DA
    --fg-m: #657ED4
    --hl-m: #F6AE2D

// Forest theme
.theme-forest
    // text color
    --text-p: #0B0500
    --text-s: #D8F1A0

    // sidebar color
    --bg-sb: #00A878
    --hl-sb: #D8F1A0

    // main color
    --bg-m: #F3C178
    --fg-m: #FE5E41
    --hl-m: #7DCD85

