@import base
    
//Universal fix
html,body
    background-color: var(--bg-m)
    color: var(--text-p)
    background-image: $default-m-bg
    background-position: center
    background-repeat: no-repeat
    background-size: cover

footer
    text-align: center
    font-size: 1rem
    color: var(--text-s)
    a
        color: var(--text-s)
        &:active, &:focus, &:hover
            color: var(--text-p)


section
    h1.display-4
        padding: 2% 0
        color: var(--text-p)
        border-radius: 25px
        text-align: center
        max-width: 80vw
        margin: 0 auto

section 
    .content-grp
        padding: 2%

// Sidebar 
.side-navbar
    width: 280px
    height: 100%
    position: fixed
    margin-left: -300px
    background-color: var(--bg-sb)
    transition: 0.5s
    background-image: $default-sb-bg
    background-position: center
    background-repeat: no-repeat
    background-size: auto

    ul.dropdown-menu.show
        background-color: var(--bg-sb)
        
        .dropdown-item
            color: var(--text-p)

            &:active, &:focus, &:hover
                background-color: var(--hl-sb)
                color: var(--text-p)


.nav-head
    &:active, &:focus, &:hover
        background-color: var(--hl-sb)
        color: var(--text-p)

.nav-link
    color: var(--text-p)

    &:active, &:focus, &:hover
        background-color: var(--hl-sb)
        color: var(--text-p)

.active-nav
    margin-left: 0

.profile-pic
    img
        width: 35vw
        margin: 0 auto
        padding: 5% 3%
        max-width: 200px

// Main 
.my-container
    transition: 0.4s

.active-cont
    margin-left: 280px

#menu-btn
    background-color: var(--bg-sb)
    color: var(--text-p)
    &:active, &:focus, &:hover
        background-color: var(--text-p)
        color: var(--bg-sb)

#exp
    .card
        background: linear-gradient(180deg, var(--bg-m) 0%, var(--fg-m) 100%)
        margin: 4% 0px
        border-radius: 25px 0px
        backdrop-filter: blur(4px)
        color: var(--text-p)
        border: 1px solid var(--fg-m)

        .text-muted
            color: var(--text-s) !important

    .img-fluid
        max-width: 150px
        width: 40%
    .content-grp
        padding: 0% 6%
    .col-md-4
        text-align: center


#edu
    .card
        border: 1px solid var(--fg-m)
        background: linear-gradient(180deg, var(--bg-m) 0%, var(--fg-m) 100%)
        color: var(--text-p)
        border-radius: 25px
    
    .card-body
        color: var(--text-p)
        
        .text-muted
            color: var(--text-s) !important    

#accomp
    .accomp-grp
        .card
            background: linear-gradient(180deg, var(--bg-m) 0%, var(--fg-m) 100%)
            color: var(--text-p)
            padding: 0vw 1vw
            margin: 0vw 1vw
            border: 1px solid var(--fg-m)

            .card-img-top
                width: 90%
                margin: 0 auto
                max-width: 200px
            
            .btn
                background-color: var(--hl-m)
                color: var(--text-s)

                &:active, &:focus, &:hover
                    background-color: var(--hl-m)
                    color: var(--text-p)
            
            .card-footer
                padding: 0.5rem 0rem
                background-color: rgba(0,0,0,0)
                border-top: 1px solid rgba(0,0,0,.125)
                .text-muted
                    color: var(--text-s) !important



#prof
    
    #courses
        h1
            color: var(--text-p)

        a.list-group-item.list-group-item-action
            background: linear-gradient(180deg, var(--bg-m) 0%, var(--fg-m) 100%)
            color: var(--text-p)
            border: 1px solid var(--fg-m)
    
    #skills
        h1
            color: var(--text-p)

        li.list-group-item
            background: linear-gradient(180deg, var(--bg-m) 0%, var(--fg-m) 100%)
            color: var(--text-p)
            border: 1px solid var(--fg-m)

        .skill-grp
            padding: 0 5%

        .fw-bold
            padding-bottom: 5%

        .progress-bar
            background-color: var(--hl-m)

        .badge.rounded-pill
            background-color: var(--hl-m)
            color: var(--text-s)