// Color
$bg-primary: #F3F3F3
$bg-secondary: #DE354C

$text-primary: #3C1874
$text-secondary: #932432

$extra: #283747

// Font

//Universal fix
html,body
    background-color: $bg-primary
    color: $text-primary

section
    h1
        padding: 2% 0

.side-navbar
    width: 280px
    height: 100%
    position: fixed
    margin-left: -300px
    background-color: $bg-secondary
    transition: 0.5s

    ul.dropdown-menu.show
        background-color: $extra
        
        .dropdown-item
            color: $bg-primary

            &:active, &:focus, &:hover
                background-color: $bg-secondary
                color: $extra


.nav-head
    &:active, &:focus, &:hover
        background-color: $bg-primary
        color: $bg-secondary

.nav-link
    color: $bg-primary

    &:active, &:focus, &:hover
        background-color: $bg-primary
        color: $bg-secondary

.my-container
    transition: 0.4s

.active-nav
    margin-left: 0

.profile-pic
    img
        width: 35vw
        margin: 0 auto
        padding: 5% 3%
        max-width: 200px

/* for main section

.active-cont
    margin-left: 280px

#menu-btn
    background-color: $bg-secondary
    color: $bg-primary

section 
    .content-grp
        padding: 2%

#exp
    .card
        background: linear-gradient(180deg, #3C415C 0%, #301B3F 100%)
        margin: 4% 0px
        border-radius: 25px 0px
        // box-shadow: 3px 3px 10px rgb(221 221 221 / 25%)
        backdrop-filter: blur(4px)  

    .img-fluid
        max-width: 150px
        width: 40%
    .content-grp
        padding: 0% 6%
    .col-md-4
        text-align: center


#edu
    .content-grp
        padding: 1% 5%

        .card
            border: 0px solid rgba(0,0,0,.125)
            background-color: #3C415C
            color: #DDDDDD
            border-radius: 25px

        .card-header
            background-color: #301B3F
            color: #DDDDDD
        
        .card-body
            color: #DDDDDD

#accomp
    .accomp-grp
        .card.h-100
            background-color: #3C415C
            color: #DDDDDD
            padding: 0vw 1vw
            margin: 0vw 2vw
        .card-img-top
            width: 90%
            margin: 0 auto
            max-width: 200px



#prof

    #courses

        a.list-group-item.list-group-item-action
            background-color: #3C415C
            color: #DDDDDD
            border: 1px solid rgba(0,0,0,.125)
    
    #skills
        li.list-group-item
            background-color: #3C415C
            color: #DDDDDD
        .skill-grp
            padding: 0 5%
        .fw-bold
            padding-bottom: 5%
        .progress-bar
            background-color: #301B3F