    <!-- Landing -->
    <section>
    <div class="container my-5">
        <div
          class="glass-panel row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
        >
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 lh-1">Anirudh Poroorkara</h1>
            <p class="lead">
              I am a software engineer constantly building projects and web
              applications primarily based on different inspirations I get over
              the internet. Currently, I am a graduate student at University of
              Windsor. I'm constantly looking for new ideas and new people to meet
              so come have a chat with me on LinkedIn.
            </p>
            <div
              class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
            >
              <a
              href="#projects"
                type="button"
                class="btn btn-dark btn-lg px-4 me-md-2 fw-bold"
              >
                Projects
              </a>
              <a href="https://www.linkedin.com/in/anirudh-poroorkara/"
              target="_blank" type="button" class="btn btn-outline-dark btn-lg px-4">
                Let's connect!
              </a>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img
              class="rounded-lg-6"
              src="../../assets/landing/landing.png"
              alt=""
              width="380"
            />
            
          </div>
        </div>
      </div>
    </section>
      <!-- Landing End -->