<section id="landing">
    <div class="container col-xxl-8 px-4 py-4 d-flex align-items-center justify-content-center">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6 m-auto">
          <img src="../../assets/landing/computer-img.svg" class="d-block mx-lg-auto img-fluid" alt="laptops" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <p class="">Hey! I am</p>
          <h1 class="display-3">Anirudh Poroorkara.</h1>
          <p class="display-6">I design, develop and build innovative software products. </p>
          <p class="">I am an computer engineer with a master’s degree focused on Artificial Intelligence. 
            I'm always seeking out new experiences and challenges to help me grow and learn, and I'm excited to connect with like-minded individuals who share the same values and interests.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a type="button" href="#projects" class="btn btn-light btn-lg px-4 me-md-2">Projects</a>
            <a type="button" href="https://www.linkedin.com/in/anirudh-poroorkara/" class="btn btn-outline-light btn-lg px-4">Let's Connect!</a>
          </div>
        </div>
      </div>
    </div>
  </section>