@import "../../styles"

// About
section#about
    .container-light
        background-color: $light-color
        color: $dark-color
        font-family: $text-font
        background-image: url("../../assets/about/line-about.svg")
        background-repeat: no-repeat
        background-position: center center
        h1
            font-family: $display-font
    