<div class="container">
    <section>
        <h1 class="display-5" >Experience & Education</h1>
        <div class="item-list" *ngFor="let item of items">
            <div [ngClass]="{'edu-content' : item.type === 'EDU', 'exp-content' : item.type === 'EXP' }" class="items">
                <h6>{{ item.start }} - {{ item.end }}</h6>
                <div class="card-body">
                    <h5 class="card-title">{{ item.role }}</h5>
                    <h6 class="card-subtitle mb-2"><a class="link-animation" href="{{ item.company_url }}" target="_blank">{{ item.company }}</a></h6>
                    <p class="card-text">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </section>
</div>
  
