@import "../../styles"

section
    color: $text-color
    padding: 0 5%

    

.nav-tabs
    .nav-link
        color: $text-color
        .active
            color: $background-color
            

.tab-pane
    padding: 2%
    h1
        border-bottom-style: solid
        border-color: $link-pop

    .card-body
        .card-subtitle
            color: $link-pop
        .card-title
            color: $text-pop
    .items
        padding: 2%


// hr
//     border: 2px solid $link-pop
//     background-color: $link-pop
//     color: $link2-pop
//     width: 67%
//     margin-left:0

#exp-content
    .card-body
        border-left-style: solid
        border-color: $text-pop
#edu-content
    text-align: end
    .card-body
        border-right-style: solid
        border-color: $text-pop