@import "../../styles"

section
    background-image: url('../../assets/img/bg-line.svg')
    background-blend-mode: soft-light
    background-repeat-x: no-repeat
    background-repeat-y: repeat
    background-color: $background-color

#start-line
    border: 5px solid $link2-pop
    background-color: $link2-pop
    color: $link2-pop
    width: 67%
    margin-left:0

#end-line
    border: 5px solid $link2-pop
    background-color: $link2-pop
    color: $link2-pop
    width: 67%
    margin-right:0

.icons-sqr
    max-width: 50px

.icons-wide
    max-width: 75px

#projects
    color: $text-color


.featured-right, .featured-left
    .textonly
        background: rgba(26, 34, 56, 0.25)
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37)
        backdrop-filter: blur(4px)
        -webkit-backdrop-filter: blur(4px)
        border-radius: 10px
        padding: 2%
    .d-flex
        span.featured
            color: $text-pop
    p
        color: $background-color
        background-color: $link-pop
        padding: 1%
        text-align: justify
        border-radius: 10px

    .img-fluid
        max-width: 70%
        margin: 2% auto
        display: block
        &:hover, &:focus
            -webkit-filter: none
            filter: none
    
    .d-flex
        span
            color: $link-pop

.featured-left
    text-align: end    

#all
    .card
        background-color: $background-color
        border: 1px solid $link-pop
        span
            color: $link-pop
            margin-bottom: 3%
        
        .card-title
            color: $text-pop
        .card-text
            background-color: $link-pop
            color: $background-color
            padding: 2%
            border-radius: 10px
        .card-img-top
            &:hover, &:focus
                -webkit-filter: none
                filter: none
        .card-body
            a
                img
                    max-width: 50px
                    color: $link-pop
        