.card
    background-color: transparent
    border: none
    img
        max-width: 100%
        margin: 0 auto
        margin-bottom: -8%
        z-index: 1000
    .card-body
        color: white
        padding-top: 10%
        background: rgba( 43, 45, 66, 0.4 )
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
        backdrop-filter: blur( 20px )
        -webkit-backdrop-filter: blur( 20px )
        border-radius: 10px
        border: 1px solid rgba( 255, 255, 255, 0.18 )
    .card-footer
        color: white
        background: rgba( 43, 45, 66, 0.4 )
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
        backdrop-filter: blur( 20px )
        -webkit-backdrop-filter: blur( 20px )
        border-radius: 10px
        border: 1px solid rgba( 255, 255, 255, 0.18 )