<section id="projects">
    <div class="container p-2 my-5">
      <div class="text-center">
        <h1 class="display-5">My Work</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            I am constantly exploring new and exciting ways to bring my ideas to life. My main goal is to make sure that my products is not only functional but also enjoyable to use.
            <br>
            Take a look at some of my recent projects:
          </p>
        </div>
      </div>

    <!-- Featured -->
    <div class="container p-4 overflow-hidden featured-project">
      <div class="row rounded-3 px-4">
        <div class="col-lg-6 text-end">
          <img class="rounded-lg-3 img-fluid" src="{{ projects_featured[0].img_url }}" alt="">
      </div>
        <div class="col-lg-6 text-start">
          <p class="tag-group rounded-3">Featured Project</p>
          <h1 class="display-6 rounded-3">{{ projects_featured[0].name }}</h1>
          <p class="rounded-3 text-justify">
            {{ projects_featured[0].description }}
           </p>
          <div class="d-flex justify-content-start tag-group rounded-3">
            <p class="p-2" *ngFor="let tag of projects_featured[0].tags">[{{ tag }}]</p>
          </div>
          <div class="d-md-flex justify-content-md-start">
            <a href="{{ projects_featured[0].github }}" class="link-pop"><i class="bi bi-github fs-2 mx-2"></i></a>
            <a href="{{ projects_featured[0].github }}" class="link-pop"><i class="bi bi-arrow-up-right-circle fs-2 mx-2"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container p-4 overflow-hidden featured-project">
      <div class="row rounded-3 px-4">
        <div class="col-lg-6 text-end order-2 order-lg-1">
          <p class="tag-group rounded-3">Featured Project</p>
          <h1 class="display-6 rounded-3">{{ projects_featured[1].name }}</h1>
          <p class="rounded-3">
            {{ projects_featured[1].description }} 
          </p>
          <div class="d-flex justify-content-end tag-group rounded-3">
            <p class="p-2" *ngFor="let tag of projects_featured[1].tags">[{{ tag }}]</p>
          </div>
          <div class="d-md-flex justify-content-md-end">
            <a href="{{ projects_featured[1].github }}" class="link-pop"><i class="bi bi-github fs-2 mx-2"></i></a>
            <a href="{{ projects_featured[1].github }}" class="link-pop"><i class="bi bi-arrow-up-right-circle fs-2 mx-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 text-start order-1 order-lg-2">
          <img class="rounded-lg-3 img-fluid" src="{{ projects_featured[1].img_url }}" alt="">
      </div>
      </div>
    </div>

    <!-- All -->
    <div class="row p-2">
      <div class="col-sm-6 col-lg-4 mb-4" *ngFor="let project of projects">
        <div class="card {{ project.class }}">
          <div class="card-body">
            <h5 class="card-title">{{ project.name }}</h5>
            <div class="d-md-flex justify-content-md-start">
              <span class="badge rounded-pill badge-dark mx-1" *ngFor="let tag of project.tags">{{ tag }}</span>
            </div>
            <p class="card-text p-2">{{ project.description }}</p>
            <div class="row">
              <div class="col">
                <p class="card-text"><small class="text-muted">{{ project.pub }}</small></p>
              </div>
              <div class="col">
                <div class="d-flex justify-content-end">
                  <a href="{{ project.github }}" class="link-dark"><i class="bi bi-github fs-2 mx-2"></i></a>
                  <a href="{{ project.github }}" class="link-dark"><i class="bi bi-arrow-up-right-circle fs-2 mx-2"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card text-center p-3 blog-post">
          <div class="d-md-flex justify-content-center">
            <span class="badge rounded-pill badge-dark mx-1">Primary</span>
          </div>
          <figure class="p-2">
            <blockquote class="blockquote">
              <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </figcaption>
          </figure>
          <div class="d-md-flex justify-content-center">
            <a class="btn btn-dark">Read Now!</a>
          </div>
        </div>
      </div>  -->
    </div>
  </div>

</section>