<hr id="start-line">
<section id="projects">
    <h1 class="display-5">Projects</h1>
    <br>

    <div id="featured">

        <div id="featured-right" class="row align-items-center">
            <div class="col-12 col-md-6 align-middle align-items-center">
                <!-- Photo by <a href="https://unsplash.com/@abderrahmanemeftah?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Abderrahmane Meftah</a> on <a href="https://unsplash.com/s/photos/radio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                <img class="figure-img img-fluid rounded" src="../../assets/img/projects/playlist.jpg">
            </div>
            <div class="col-12 col-md-6 align-middle align-items-center">
                <span class="featured">Featured</span>
                <h3 class="display-6">Playlist Generation</h3>
                <p>
                    Generate  a  playlist  taking  your  music  files  as  input  and  generate using Genetic Algorithms either  a 
                      text file containing the list or merge the entire list into a single music track.
                </p>
                <div class="d-flex justify-content-around">
                    <span>Python</span>
                    <span>DEAP</span>
                    <span>Genetic Algorithm</span>
                    <span>Essentia</span>
                </div>
            </div>
        </div>

        <br>
        
        <div id="featured-left" class="row align-items-center">

            <div class="col-12 col-md-6 align-middle align-items-center">
                <!-- Photo by <a href="https://unsplash.com/@abderrahmanemeftah?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Abderrahmane Meftah</a> on <a href="https://unsplash.com/s/photos/radio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                <img class="figure-img img-fluid rounded" src="../../assets/img/projects/playlist.jpg">
            </div>
            
            <div class="col-12 col-md-6 align-middle align-items-center order-md-first">
                <span class="featured">Featured</span>
                <h3 class="display-6">Playlist Generation</h3>
                <p>
                    Generate  a  playlist  taking  your  music  files  as  input  and  generate using Genetic Algorithms either  a 
                      text file containing the list or merge the entire list into a single music track.
                </p>
                <div class="d-flex justify-content-around">
                    <span>Python</span>
                    <span>DEAP</span>
                    <span>Genetic Algorithm</span>
                    <span>Essentia</span>
                </div>
            </div>

        </div>

    </div>
    <br>

    <div id="all">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-75">
                  <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" class="card-img-top" alt="...">
                  <div class="d-flex justify-content-around">
                    <span>Python</span><br>
                    <span>Genetic Algorithm</span>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Playlist Generation</h5>
                    <p class="card-text">
                      Generate  a  playlist  taking  your  music  files  as  input  and  generate using Genetic Algorithms either  a 
                        text file containing the list or merge the entire list into a single music track.
                    </p>
                    <div class="d-flex justify-content-around">
                        <a href="https://github.com/ani-poroorkara/PlaylistGenerator-using-Genetic-Algorithm" target="_blank">
                            <img src="../../assets/icons/github.svg" alt="">
                        </a>
                        <a href="" target="_blank">
                            <img src="../../assets/icons/external-link.svg" alt="">
                        </a>
                    </div>
                    
                  </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-75">
                  <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" class="card-img-top" alt="...">
                  <div class="d-flex justify-content-around">
                    <span>Python</span><br>
                    <span>Genetic Algorithm</span>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Playlist Generation</h5>
                    <p class="card-text">
                      Generate  a  playlist  taking  your  music  files  as  input  and  generate using Genetic Algorithms either  a 
                        text file containing the list or merge the entire list into a single music track.
                    </p>
                    <div class="d-flex justify-content-around">
                        <a href="https://github.com/ani-poroorkara/PlaylistGenerator-using-Genetic-Algorithm" target="_blank">
                            <img src="../../assets/icons/github.svg" alt="">
                        </a>
                        <a href="" target="_blank">
                            <img src="../../assets/icons/external-link.svg" alt="">
                        </a>
                    </div>
                    
                  </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-75">
                  <img src="https://images.unsplash.com/photo-1461784180009-21121b2f204c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" class="card-img-top" alt="...">
                  <div class="d-flex justify-content-around">
                    <span>Python</span><br>
                    <span>Genetic Algorithm</span>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Playlist Generation</h5>
                    <p class="card-text">
                      Generate  a  playlist  taking  your  music  files  as  input  and  generate using Genetic Algorithms either  a 
                        text file containing the list or merge the entire list into a single music track.
                    </p>
                    <div class="d-flex justify-content-around">
                        <a href="https://github.com/ani-poroorkara/PlaylistGenerator-using-Genetic-Algorithm" target="_blank">
                            <img src="../../assets/icons/github.svg" alt="">
                        </a>
                        <a href="" target="_blank">
                            <img src="../../assets/icons/external-link.svg" alt="">
                        </a>
                    </div>
                    
                  </div>
                </div>
            </div>

        </div>

    </div>
</section>

<hr id="end-line">
