<section id="contact">

    <div class="container-fluid">
        <div class="row">

            <div id="text-description" class="col">
                <h4 class="display-6">Get in touch!</h4>
                <p>{{ myData[0].content }}</p>
                <a href="mailto:pdani444@gmail.com"><button type="button" class="btn">Send me a message!</button></a>
            </div>

            <div id="text-links" class="col d-flex flex-column mb-3">
                <h4 class="display-6">Quick Links</h4>
                <a href="https://github.com/ani-poroorkara" target="_blank">
                    <img src="../../assets/icons/github.svg" class="icon-animation" alt=""> github/ani-poroorkara
                </a>
                <a href="https://www.instagram.com/aniporoorkara/" target="_blank">
                    <img src="../../assets/icons/instagram.svg" class="icon-animation" alt=""> instagram/aniporoorkara
                </a>
                <a href="https://www.linkedin.com/in/anirudh-poroorkara/" target="_blank">
                    <img src="../../assets/icons/linkedin.svg" class="icon-animation" alt=""> linkedin/anirudhporoorkara
                </a>
                <a href="mailto:pdani444@gmail.com" target="_blank">
                    <img src="../../assets/icons/mail.svg" class="icon-animation" alt=""> mail/pdani444@gmail.com
                </a>
                <a href="https://ani-poroorkara.github.io/blog/" target="_blank">
                    <img src="../../assets/icons/book.svg" class="icon-animation" alt=""> blog/logfile
                </a>
            </div>


        </div>
        <br>
        <footer>
            <p class="small">Build with Angular and hosted on Github | Anirudh Poroorkara | Copyright © 2022 <a class="link-animation" href="https://github.com/ani-poroorkara" target="_blank"> ani-poroorkara</a></p>
        </footer>
    </div>
</section>
        <!-- </div>
    <div id="contact">
        

            <div id="text-description" class="col-12 col-md-6 align-middle align-items-center">
            
                <br>
                <div class="d-flex justify-content-around">
                    <a href="https://github.com/ani-poroorkara" class="icon-animation" target="_blank">
                        <img src="../../assets/icons/github.svg" alt="">
                    </a>
                    <a href="https://www.instagram.com/aniporoorkara/" class="icon-animation" target="_blank">
                        <img src="../../assets/icons/instagram.svg" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/anirudh-poroorkara/" class="icon-animation" target="_blank">
                        <img src="../../assets/icons/linkedin.svg" alt="">
                    </a>
                    <a href="mailto:pdani444@gmail.com" class="icon-animation" target="_blank">
                        <img src="../../assets/icons/mail.svg" alt="">
                    </a>
                    <a href="https://ani-poroorkara.github.io/blog/" class="icon-animation" target="_blank">
                        <img src="../../assets/icons/book.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                
            </div>
        </div>
    </div> -->