<hr id="start-line">

<section id="contact">
    <h1 class="display-5">Get in touch!</h1>
    <!-- <div class="row"> -->
        <!-- <div id="text-description" class="col-12 col-md-6 align-middle align-items-center"> -->
        <div id="text-description">
            <p>
                Currently, I am studying as a graduate student and I will be open to opportunities 
                for part time as well as to help you with consulting.
                Send me a message or reach out to me on any social media platforms. 
                I’ll try my best to get back to you!
            </p>
            <div class="d-flex justify-content-around">
                <a href="#" class="icon-animation" target="_blank">
                    <img src="../../assets/icons/github.svg" alt="">
                </a>
                <a href="" class="icon-animation" target="_blank">
                    <img src="../../assets/icons/instagram.svg" alt="">
                </a>
                <a href="" class="icon-animation" target="_blank">
                    <img src="../../assets/icons/linkedin.svg" alt="">
                </a>
                <a href="" class="icon-animation" target="_blank">
                    <img src="../../assets/icons/mail.svg" alt="">
                </a>
                <a href="" class="icon-animation" target="_blank">
                    <img src="../../assets/icons/book.svg" alt="">
                </a>
            </div>
        </div>
        <!-- <div class="col-12 col-md-6">
            <app-connectform></app-connectform>
        </div> -->
    <!-- </div> -->
    
</section>