@import "../../styles"

h1
    text-align: center
    backdrop-filter: blur(4.5px)
    -webkit-backdrop-filter: blur(4.5px)
    border-radius: 10px

#contact
    color: $text-color
    .d-flex
        margin: 2% 10%

#text-description
    padding: 3% 10%
    p 
        text-align: justify    


footer
    text-align: center