<section id="contact">
    <div class="container d-flex align-items-center">
      <div class="p-4 m-auto"> 
      
        <h1 class="display-4 text-center">Let's Connect!</h1>
      <p class="text-center p-3 fs-5">I am not actively seeking new career opportunities, but I am always open to connecting, discussing, and assisting in any way possible. Feel free to send me a message or email if you need help with a product, require additional feedback, or just want a second opinion. 
      </p>
    <ul class="nav justify-content-evenly fs-1 py-2">
      <li class="nav-item link-click-animation">
        <a target="_blank" href="https://www.instagram.com/aniporoorkara/" class="link-light px-2"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="nav-item link-click-animation">
        <a target="_blank" class="link-light px-2" href="mailto:pdani444@gmail.com"
          ><i class="bi bi-envelope-at"></i
        ></a>
      </li>
      <li class="nav-item link-click-animation">
        <a
          href="https://github.com/ani-poroorkara"
          target="_blank"
          class="link-light px-2"
          ><i class="bi bi-github"></i
        ></a>
      </li>
      <li class="nav-item link-click-animation">
        <a
          href="https://www.linkedin.com/in/anirudh-poroorkara/"
          target="_blank"
          class="link-light px-2"
          ><i class="bi bi-linkedin"></i
        ></a>
      </li>
      <li class="nav-item link-click-animation">
        <a target="_blank" href="https://open.spotify.com/user/312vugz3xsllvakm4zvtuapv2fmi" class="link-light px-2"><i class="bi bi-spotify"></i></a>
      </li>
      <li class="nav-item link-click-animation">
        <a target="_blank" href="https://ani-poroorkara.github.io/blog/" class="link-light px-2"><i class="bi bi-journals"></i></a>
      </li>
    </ul>
      </div>
      
    </div>
    
  </section>