@import "../../styles"

section
    margin: 2% auto 

h1
    text-align: center
    backdrop-filter: blur(4.5px)
    -webkit-backdrop-filter: blur(4.5px)
    border-radius: 10px

#contact
    color: $text-color

    .d-flex
        margin: 2% 10%

#text-description
    padding: 3% 10%
    background: rgba(26, 34, 56, 0.7)
    backdrop-filter: blur(4.5px)
    -webkit-backdrop-filter: blur(4.5px)
    border-radius: 10px
    p 
        text-align: justify    


footer
    color: $text-color
    text-align: center