@import "../../styles"

section
    background-image: url('../../assets/img/contact/bg-spike.svg')
    background-repeat: no-repeat
    background-position: center
    background-color: $background-color

#contact
    color: $text-color
    .d-flex
        margin: 2% 10%

#text-description
    padding: 3% 10%
    p 
        text-align: justify    

#start-line
    border: 5px solid $link2-pop
    background-color: $link2-pop
    color: $link2-pop
    width: 67%
    margin-left:0

footer
    text-align: center