<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top" aria-label="navigation">
  <div class="container">
    <a class="navbar-brand rounded-2 p-2" href="/">
      <img src="../assets/brand logo.svg" alt="AP" width="30" height="24">
    </a>
    <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list-nested fs-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item" >
          <a class="nav-link link-animation" href="#landing" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-animation" href="#projects" >Projects</a>
        </li>
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link link-animation" href="#contact" >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->

<!-- Landing -->
<app-landing></app-landing>
<!-- Landing End -->

<!-- About -->
<app-about id="#landing"></app-about>
<!-- About End -->

<!-- Projects -->
<app-projects id="#projects"></app-projects>
<!-- Projects End -->

<!-- Contact -->
<app-contact id="#contact"></app-contact>
<!-- Contact End -->

<!-- Footer --> 
<footer class="pt-2">
  <div class="container">
    <p class="text-center small">
      Anirudh Poroorkara | Copyright © 2022
      <a class="link-animation" target="_blank" href="https://github.com/ani-poroorkara"
        >ani-poroorkara</a
      >
    </p>
  </div>
</footer>
<!-- Footer End -->