<!-- Navbar -->
<nav class="navbar navbar-expand-lg sticky-top" aria-label="navigation">
  <div class="container">
    <a class="navbar-brand rounded-2 p-2" href="/">
      <img src="../assets/brand logo.svg" alt="AP" width="30" height="24">
    </a>
    <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
      <i class="bi bi-list-nested fs-1"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Anirudh Poroorkara</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link link-animation" href="#landing">About</a>
        </li>
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link link-animation" href="#projects">Projects</a>
        </li>
        <li class="nav-item" data-bs-dismiss="offcanvas">
          <a class="nav-link link-animation" href="#contact">Contact</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar End -->
