@import "../styles"

// Navbar
nav#myNav
    
    .nav-link
        color: $bg-col

.transparent-nav
    background-color: transparent
    transition: background-color ease-in-out 0.5

.solid-nav
    background: rgba( 43, 45, 66, 0.25 )
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
    backdrop-filter: blur( 12px )
    -webkit-backdrop-filter: blur( 12px )
    border: 1px solid rgba( 255, 255, 255, 0.18 )
    transition: background-color ease-in-out 0.5
    
// Footer
a 
    color: $link