/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

// Comfortaa Font from Google
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap')

// Global Colors
$background-color: #1A2238
$text-color: #FFFFFF
$text-pop: #FF6A3D
$link-pop: #9DAAF2
$link2-pop: #F4DB7D


// Global Declarations
*, html, body
    font-family: 'Comfortaa', cursive
    background-color: $background-color